
body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #ff69b4; 
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, #ff69b4, #4b0082); /* Degradê de rosa para roxo */
    background-size: 40px 40px, 40px 40px, 100%;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


#forcaContainer {
    background: rgba(0, 0, 0, 0.85);
    border: 3px solid #ff69b4;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px #ff69b4, 0 0 20px #00ffff;
}


h1 {
    color: #ff69b4;
    text-shadow: 2px 2px 0 #000000, 0 0 5px #ff69b4;
    font-size: 2em;
    margin-top: 0;
}

#letras {
    font-size: 20px;
    color: #00ffff;
    margin: 10px 0;
}


#letrasErradas {
    color: #ff4444;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}


button {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #ff69b4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px #000000;
    transition: 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #ff4444;
    transform: scale(1.05);
    box-shadow: 0 6px #000000;
}


#palavra {
    font-size: 24px;
    letter-spacing: 4px;
    color: #00ffff;
    text-shadow: 1px 1px 5px #ff69b4, 0 0 5px #00ffff;
}

#statusJogo {
    font-size: 18px;
    color: #00ffff;
}


#gifDerrota {
    display: none; 
    margin-top: 20px;
}
